<div class="col">
    <div class="row m-3">
        <div class="col-md-8 p-0">
            <h1>Mouvements du stock</h1>
        </div>
        <div class="col-md-4 p-0 " style=" text-align: right;">
            <app-button-action [isImporterVisible]="false" [isNouveauVisible]="false"></app-button-action>
        </div>
    </div>
    <div class="col m-3 ">
        <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item mb-2">
                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                     <div class="col-md-12" > <app-detail-mvt-stk-article></app-detail-mvt-stk-article> </div>         </button>
                </h2>
                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse " aria-labelledby="panelsStayOpen-headingOne" style="max-height: 300px;
                overflow-y: scroll">
                    <div class="accordion-body">
                        <app-detail-mvt-stk></app-detail-mvt-stk>
                        <app-detail-mvt-stk></app-detail-mvt-stk>
                        <app-detail-mvt-stk></app-detail-mvt-stk>
                        <app-detail-mvt-stk></app-detail-mvt-stk>
                        <app-detail-mvt-stk></app-detail-mvt-stk>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                     <div class="col-md-12" > <app-detail-mvt-stk-article></app-detail-mvt-stk-article> </div>         </button>

                </h2>
                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo" style="max-height: 300px;
                overflow-y: scroll">
                    <div class="accordion-body">
                        <app-detail-mvt-stk></app-detail-mvt-stk>
                        <app-detail-mvt-stk></app-detail-mvt-stk>
                        <app-detail-mvt-stk></app-detail-mvt-stk>
                        <app-detail-mvt-stk></app-detail-mvt-stk>
                        <app-detail-mvt-stk></app-detail-mvt-stk>
                    </div>
                </div>
            </div>

            <div class="row mb-3">
                <div class=" col-md-12 text-center">
                    <app-pagination></app-pagination>
                </div>
            </div>

        </div>
    </div>
</div>