<div class="row mb-1 mr-0 custom-border">
    <div class="col-md-2 custom-border-right p-1 text-center">
        <img src="assets/product.png" width="135px" height="100px">
    </div>
    <div class="col-md-3 custom-border-right mb-1 mt-1">
        <div class="col">
            <div class="row">
                <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>
                <div class="col-md-10">Code article</div>
            </div>
            <div class=" row">
                <div class="col-md-1"><i class="fas fa-info-circle blue-color"></i></div>

                <div class="col-md-10"> Designation</div>
            </div>
            <div class=" row">
                <div class="col-md-1"><i class="fas fa-dollar-sign blue-color"></i></div>

                <div class="col-md-10"> prix HT</div>
            </div>
            <div class=" row">
                <div class="col-md-1"><i class="fas fa-dollar-sign blue-color"></i></div>

                <div class="col-md-10"> Prix TTC</div>
            </div>
        </div>
    </div>
    <div class="col-md-3 mb-1 mt-1 custom-border-right">
        <div class="row">
            <div class="col-md-2">
                <i class=" fa-solid fa-flag-checkered blue-color"></i>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-12">Code catégorie</div>
                    <div class="col-md-12"> Description catégorie</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 mb-1 mt-1 ">
        <div class="row">
            <div class="col-md-4">
                <button type="button" class="btn btn-link">
                <i class="fa-solid fa-pencil"></i> Modifier
            </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-link">
                <i class="fa-solid fa-trash-can"></i> Supprimer
            </button>
            </div>
            <div class="col-md-4">
                <button type="button" class="btn btn-link">
                <i class="fa-solid fa-list-alt"></i> Détail
            </button>
            </div>
        </div>
    </div>
</div>