<div class="col">
    <div class="row m-3">
        <div class="col-md-6 p-0">
            <h1>Listes des articles</h1>
        </div>
        <div class="col-md-6 p-0 " style=" text-align: right;">
            <app-button-action (clickEvent)="nouvelArticle()"></app-button-action>
        </div>
    </div>
    <div class=" col  m-3">
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>
        <app-detail-article></app-detail-article>

    </div>
    <div class="row text-center">
        <div class="row mb-3">
            <div class="col text-center">
                <app-pagination></app-pagination>
            </div>
        </div>
    </div>