<div class="row">
    <div class="col-md-8">
        <div class="input-group flex-nowrap">
            <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
            <div class="input-group-prepend">
                <span class="form-control"><i class="fas fa-search"></i></span>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="row">
            <div class="col-md-9 " style=" text-align: right;">
                <span>Bonjour Said</span>
            </div>
            <div class="col-md-3">
                <a href="javascript:void(0);" [routerLink]="['/profil']">
                    <img src="favicon.ico" class="rounded-cercle" />
                </a>
            </div>
        </div>

    </div>
</div>